<title>Recreation</title>
<link rel="stylesheet" href="styles/stylesRecreation.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>

  <!--this is the nav bar-->

  <div id="navbar">
    <div class="btn" id="btn1">
      <p id="b1">Home</p>
    </div>
    <div class="btn" id="btn2">
      <p id="b2">Recreation</p>
    </div>
    <div class="btn" id="btn3">
      <p id="b3">Photoshoot</p>
    </div>
    <div class="btn" id="btn4">
      <p id="b4"> Outlets</p>
    </div>
    <div class="btn" id="btn5">
      <p id="b5">Food</p>
    </div>
    <div class="btn" id="btn6">
      <p>Yelp</p>
    </div>
  </div>

  <!--this is the rest of the html body content-->

<main class="wrapper">

  <section class="section parallax bg1">
    <div class="In">
      <h1 class="inTitle">Vertical Hold</h1>
      <div class="inDesc">
        <div class="descFormat">
        <h1>Vertical Hold Rock Climbing Gym</h1>
          <div id="vertical">
            An amazing indoor rock climbing gym! Vertical Hold
            <br>
            has plenty of room and unique obstacles  and is close
            <br>
            enough to drive to whenever you feel like getting some
            <br>
             exercise while having fun.
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section static">
    <h1></h1>
    <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.1369&lon=-117.1328&pin=1"
  width="100%" height="100%"></iframe>
  </section>

  <section class="section parallax bg2">
    <div class="In">
      <h1 class="inTitle">Mission Sports Prk.</h1>
      <div class="inDesc">
        <div class="descFormat">
        <h1>Mission Sports Park</h1>
          <div id="vertical">
            Mission Sports Park is a great place for baseball.
            <br>
            It has multiple fields that cater towards different age
          <br>
            groups and an amazing snackbar for when you get hungry
            <br>
            after a hardfought game.
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section static">
    <h1></h1>
    <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.1454&lon=-117.1827&pin=1"
  width="100%" height="100%"></iframe>
  </section>

  <section class="section parallax bg3">
    <div class="In">
      <h1 class="inTitle">Dave N' Busters</h1>
      <div class="inDesc">
        <div class="descFormat">
        <h1>Dave N' Busters</h1>
          <div id="vertical">
            Dave N' Busters is a fun for all ages. Not only is it a solid
            <br>
            resturant with a wide variety of quality food and drinks, but it also has
            <br>
            an expansive, fully featured arcade that will be sure to wow the kids.
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section static">
    <h1></h1>
    <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.178829&lon=-117.329165&pin=1"
  width="100%" height="100%"></iframe>
  </section>

  <section class="section parallax bg4">
    <div class="In">
      <h1 class="inTitle">Bowlero</h1>
      <div class="inDesc">
        <div class="descFormat">
        <h1>Bowlero</h1>
          <div id="vertical">
            Bowlero is a great local boweling alley. It is atmospheric
            <br>
            and features everything people have come to love and expect
            <br>
            from a bowling alley, and all for a reasonable price. This makes
            <br>
            it a great place to go with friends or family to have some fun
            <br>
            on the weekends or after school.
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section static">
    <h1></h1>
    <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.1347&lon=-117.1855&pin=1"
  width="100%" height="100%"></iframe>
  </section>

  <section class="section parallax bg5">
    <div class="In">
      <h1 class="inTitle">Sky Zone</h1>
      <div class="inDesc">
        <div class="descFormat">
        <h1>Sky Zone</h1>
          <div id="vertical">
            Sky Zone is a pretty unique recreational facility.
            <br>
            Its a trampoline park that contains numerous different trampolines
            <br>
            of all shapes and sizes as well as basketball hoops, making it a
            <br>
            great place to do cool tricks and have fun.
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section static">
    <h1></h1>
    <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.140985&lon=-117.1828&pin=1"
  width="100%" height="100%"></iframe>
  </section>

  <section class="section parallax bg6">
    <div class="In">
      <h1 class="inTitle">Connors Park</h1>
      <div class="inDesc">
        <div class="descFormat">
        <h1>Connors Park</h1>
          <div id="vertical">
            Connors Park features a variety of different sports fields
            <br>
            including turf, tennis courts, basketball courts and even
            <br>
            toddler friendly play areas. This place is a good choice for both
            <br>
            friends and family, and is a great place to play sports.
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section static">
    <h1></h1>
    <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.1399&lon=-117.16906&pin=1"
  width="100%" height="100%"></iframe>
  </section>

    <section class="section parallax bg7">
      <div class="In">
        <h1 class="inTitle">Edwards Cinema</h1>
        <div class="inDesc">
          <div class="descFormat">
          <h1>Edwards Cinema</h1>
            <div id="vertical">
              The most popular cinemas since it features the newest
            <br>
              movies and comfortable seating along with a wide range of
              snacks.
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section static">
      <h1></h1>
      <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.1346&lon=-117.19297&pin=1"
    width="100%" height="100%"></iframe>
    </section>

    <section class="section parallax bg8">
      <div class="In">
        <h1 class="inTitle">Woodland Park</h1>
        <div class="inDesc">
          <div class="descFormat">
          <h1>Woodland Park</h1>
            <div id="vertical">
              Woodland Park is a beautiful location to hang out and
            <br>
              have picnics. It has playgrounds, and lots of shaded bench
            <br>
            areas for you to eat lunch and relax at.
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section static">
      <h1></h1>
      <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.1495&lon=-117.1323&pin=1"
    width="100%" height="100%"></iframe>
    </section>

    <section class="section parallax bg9">
      <div class="In">
        <h1 class="inTitle">LA Fitness</h1>
        <div class="inDesc">
          <div class="descFormat">
          <h1>LA Fitness</h1>
            <div id="vertical">
              This gym facility is one of the nicest in San Marcos and
              <br>
              contains all the equipment and items you need to take control
              <br>
              of your fitness. On top of all the essential exercise equipment,
              <br>
              it also features places to grab a bite, and spa facilities to support
              <br>
              your post workout relaxation.
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section static">
      <h1></h1>
      <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.139555&lon=-117.16248&pin=1"
    width="100%" height="100%"></iframe>
    </section>

    <section class="section parallax bg10">
      <div class="In">
        <h1 class="inTitle">North County shooting</h1>
        <div class="inDesc">
          <div class="descFormat">
          <h1>North County shooting center</h1>
            <div id="north">
              This gym facility is one of the nicest in San Marcos and
              <br>
              contains all the equipment and items you need to take control
              <br>
              of your fitness. On top of all the essential exercise equipment,
              <br>
              it also features places to grab a bite, and spa facilities to support
              <br>
              your post workout relaxation.
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section static">
      <h1></h1>
      <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.14697&lon=-117.192810&pin=1"
    width="100%" height="100%"></iframe>
    </section>

  <section class="section static" id="footer">
    <p>All Copy Rights Held to The Black Hats</p>
    <p>Made with  &#8508;</p>
  </section>

</main>
<script type="text/javascript" src="scripts/script.js"></script>
</body>
