<title>Recreation</title>
<link rel="stylesheet" href="styles/stylesRecreation.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>

  <!--this is the nav bar-->

  <div id="navbar">
    <div class="btn" id="btn1">
      <p id="b1">Home</p>
    </div>
    <div class="btn" id="btn2">
      <p id="b2">Recreation</p>
    </div>
    <div class="btn" id="btn3">
      <p id="b3">Photoshoot</p>
    </div>
    <div class="btn" id="btn4">
      <p id="b4">Outlets</p>
    </div>
    <div class="btn" id="btn5">
      <p id="b5">Food</p>
    </div>
  </div>

  <!--this is the rest of the html body content-->

<main class="wrapper">

  <section class="section parallax bg1">
    <div class="In">
      <h1 class="inTitle">Vertical Hold</h1>
      <div class="inDesc">
        An amazing indoor rock climbing gym!
      </div>
    </div>
  </section>

  <section class="section static">
    <h1></h1>
    <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.1369&lon=-117.1328&pin=1"
  width="100%" height="100%"></iframe>
  </section>

  <section class="section parallax bg2">
      <<div class="In">
        <h1 class="inTitle">Mission Sports Park</h1>
        <div class="inDesc">
          A great baseball park that has a good snack bar!
        </div>
      </div>
  </section>

  <section class="section static">
    <h1></h1>
    <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.1454&lon=-117.1827&pin=1"
  width="100%" height="100%"></iframe>
  </section>

  <section class="section parallax bg3">
    <div class="In">
      <h1 class="inTitle">Dave & Buster's</h1>
      <div class="inDesc">
        A great place to hangout on the weekend!
      </div>
    </div>
  </section>

  <section class="section static">
    <h1></h1>
    <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.178829&lon=-117.329165&pin=1"
  width="100%" height="100%"></iframe>
  </section>

  <section class="section parallax bg4">
    <div class="In">
      <h1 class="inTitle">Bowlero</h1>
      <div class="inDesc">
        The best bowling alley in San Marcos!
      </div>
    </div>
  </section>

  <section class="section static">
    <h1></h1>
    <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.1347&lon=-117.1855&pin=1"
  width="100%" height="100%"></iframe>
  </section>

  <section class="section parallax bg5">
      <div class="In">
        <h1 class="inTitle">Sky Zone</h1>
        <div class="inDesc">
          A great trampoline park in San Marcos!
        </div>
      </div>
  </section>

  <section class="section static">
    <h1></h1>
    <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.140985&lon=-117.1828&pin=1"
  width="100%" height="100%"></iframe>
  </section>

  <section class="section parallax bg6">
    <div class="In">
      <h1 class="inTitle">Connors Park</h1>
      <div class="inDesc">
        Park featuring turf fields, tennis/basketball courts & toddler-friendly play areas!
      </div>
    </div>
  </section>

  <section class="section static">
    <h1></h1>
    <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.1399&lon=-117.16906&pin=1"
  width="100%" height="100%"></iframe>
  </section>

    <section class="section parallax bg7">
      <div class="In">
        <h1 class="inTitle">Edwards</h1>
        <div class="inDesc">
          Great movie theater and has comfortable seating!
        </div>
      </div>
    </section>

    <section class="section static">
      <h1></h1>
      <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.1346&lon=-117.19297&pin=1"
    width="100%" height="100%"></iframe>
    </section>

    <section class="section parallax bg8">
      <div class="In">
        <h1 class="inTitle">Woodland park</h1>
        <div class="inDesc">
          Awesome place for picnics and to just hangout!
        </div>
      </div>
    </section>

    <section class="section static">
      <h1></h1>
      <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.1495&lon=-117.1323&pin=1"
    width="100%" height="100%"></iframe>
    </section>

    <section class="section parallax bg9">
      <div class="In">
        <h1 class="inTitle">LA Fitness</h1>
        <div class="inDesc">
          Nicest gym in San Marcos!
        </div>
      </div>
    </section>

    <section class="section static">
      <h1></h1>
      <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.139555&lon=-117.16248&pin=1"
    width="100%" height="100%"></iframe>
    </section>

    <section class="section parallax bg10">
      <div class="In">
        <h1 class="inTitle">North county shooting</h1>
        <div class="inDesc">
          Great shooting facility. Has the most helpful staff!
        </div>
      </div>
    </section>

    <section class="section static">
      <h1></h1>
      <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.14697&lon=-117.192810&pin=1"
    width="100%" height="100%"></iframe>
    </section>

  <section class="section static" id="footer">
    <p>placeholder copyright info</p>
    <p>other stuff you would put in the footer</p>
  </section>

</main>
<script type="text/javascript" src="scripts/script.js"></script>
</body>
