<title>Recreation</title>
<link rel="stylesheet" href="styles/stylesRecreation.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>

  <!--this is the nav bar-->

  <div id="navbar">
    <div class="btn" id="btn1">
      <p id="b1">Home</p>
    </div>
    <div class="btn" id="btn2">
      <p id="b2">Recreation</p>
    </div>
    <div class="btn" id="btn3">
      <p id="b3">Photoshoot</p>
    </div>
    <div class="btn" id="btn4">
      <p id="b4">Outlets</p>
    </div>
    <div class="btn" id="btn5">
      <p id="b5">Food</p>
    </div>
  </div>

  <!--this is the rest of the html body content-->

<main class="wrapper">

  <section class="section parallax bg1">
    <div class="In">
      <h1 class="inTitle">Vertical Hold Rock Climbing Gym</h1>
      <div class="inDesc">
        In N' Out is cool
      </div>
    </div>
  </section>

  <section class="section static">
    <h1></h1>
    <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.1369&lon=-117.1328&pin=1"
  width="100%" height="100%"></iframe>
  </section>

  <section class="section parallax bg2">
      <<div class="In">
        <h1 class="inTitle">Mission Sports Park</h1>
        <div class="inDesc">
          In N' Out is cool
        </div>
      </div>
  </section>

  <section class="section static">
    <h1></h1>
    <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.1454&lon=-117.1827&pin=1"
  width="100%" height="100%"></iframe>
  </section>

  <section class="section parallax bg3">
    <div class="In">
      <h1 class="inTitle">Dave N' Busters</h1>
      <div class="inDesc">
        In N' Out is cool
      </div>
    </div>
  </section>

  <section class="section static">
    <h1></h1>
    <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.178829&lon=-117.329165&pin=1"
  width="100%" height="100%"></iframe>
  </section>

  <section class="section parallax bg4">
    <div class="In">
      <h1 class="inTitle">Bowlero</h1>
      <div class="inDesc">
        In N' Out is cool
      </div>
    </div>
  </section>

  <section class="section static">
    <h1></h1>
    <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.1347&lon=-117.1855&pin=1"
  width="100%" height="100%"></iframe>
  </section>

  <section class="section parallax bg5">
      <div class="header">
    <h1>Sky zone</h1>
    <br>
    <p>A great trampoline park in San Marcos!</p>
  </div>
  </section>

  <section class="section static">
    <h1></h1>
    <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.140985&lon=-117.1828&pin=1"
  width="100%" height="100%"></iframe>
  </section>

  <section class="section parallax bg6">
      <div class="header">
    <h1>Connors Park</h1>
    <br>
    <p>Park featuring turf fields, tennis/basketball courts & toddler-friendly play areas!</p>
  </div>
  </section>

  <section class="section static">
    <h1></h1>
    <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.14032&lon=-117.1690&pin=1"
  width="100%" height="100%"></iframe>
  </section>

  <section class="section static" id="footer">
    <p>placeholder copyright info</p>
    <p>other stuff you would put in the footer</p>
  </section>

</main>
<script type="text/javascript" src="scripts/script.js"></script>
</body>
