<title>Photos</title>
<link rel="stylesheet" href="styles/stylesPhoto.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>

  <!--this is the nav bar-->

  <div id="navbar">
    <div class="btn" id="btn1">
      <p id="b1">Home</p>
    </div>
    <div class="btn" id="btn2">
      <p id="b2">Recreation</p>
    </div>
    <div class="btn" id="btn3">
      <p id="b3">Photoshoot</p>
    </div>
    <div class="btn" id="btn4">
      <p id="b4">Outlets</p>
    </div>
    <div class="btn" id="btn5">
      <p id="b5">Food</p>
    </div>
  </div>

  <!--this is the rest of the html body content-->

<main class="wrapper">

  <section class="section parallax bg1">
    <div class="In">
      <h1 class="inTitle">Moonlight Beach</h1>
      <div class="inDesc">
        In N' Out is cool
      </div>
    </div>
  </section>

  <section class="section static">
    <h1>more placeholder text</h1>
    <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.1419&lon=-117.1908&pin=1"
  width="100%" height="100%"></iframe>
  </section>

  <section class="section parallax bg2">
    <div class="In">
      <h1 class="inTitle">Double Peak Park</h1>
      <div class="inDesc">
        In N' Out is cool
      </div>
    </div>
  </section>

  <section class="section static">
    <h1> even more more placeholder text</h1>
    <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.1091&lon=-117.1772&pin=1"
  width="100%" height="100%"></iframe>
  </section>

  <section class="section parallax bg3">
    <div class="In">
      <h1 class="inTitle">Discovery Park</h1>
      <div class="inDesc">
        In N' Out is cool
      </div>
    </div>
  </section>

  <section class="section static">
    <h1> even more more placeholder text</h1>
    <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.1237&lon=-117.1788&pin=1"
  width="100%" height="100%"></iframe>
  </section>

  <section class="section parallax bg4">
    <div class="In">
      <h1 class="inTitle">Sunset Park</h1>
      <div class="inDesc">
        In N' Out is cool
      </div>
    </div>
  </section>

  <section class="section static">
    <h1> even more more placeholder text</h1>
    <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.1452&lon=-117.2109&pin=1"
  width="100%" height="100%"></iframe>
  </section>

  <section class="section parallax bg5">
    <div class="In">
      <h1 class="inTitle">San Marcos Lake</h1>
      <div class="inDesc">
        In N' Out is cool
      </div>
    </div>
  </section>

  <section class="section static">
    <h1> even more more placeholder text</h1>
    <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.1262&lon=-117.2084&pin=1"
  width="100%" height="100%"></iframe>
  </section>

  <section class="section static" id="footer">
    <p>placeholder copyright info</p>
    <p>other stuff you would put in the footer</p>
  </section>

</main>
<script type="text/javascript" src="scripts/script.js"></script>
</body>
