<!DOCTYPE html>
<head>
  <title>Parallax</title>
  <link rel="stylesheet" href="styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>
  <div id="navbar">
    <div class="btn" id="btn1">
      <p>Button 1</p>
    </div>
    <div class="btn" id="btn2">
      <p>Button 2</p>
    </div>
    <div class="btn" id="btn3">
      <p>Button 3</p>
    </div>
    <div class="btn" id="btn4">
      <p>Button 4</p>
    </div>
    <div class="btn" id="btn5">
      <p>Button 5</p>
    </div>
  </div>
  <main class="wrapper">
    <section class="section parallax bg1">
      <div class="header">
        <h1>Placeholder Header</h1>
      </div>
    </section>
    <section class="section static">
      <h1>more placeholder text</h1>
    </section>
    <section class="section parallax bg2">
      <h1>even more placeholder text</hi>
    </section>
    <section class="section static">
      <h1> even more more placeholder text</h1>
    </section>
    <section class="section parallax bg3">
      <h1> the most placeholder text.</h1>
    </section>
    <section class="section static" id="footer">
      <p>placeholder copyright info</p>
      <p>other stuff you would put in the footer</p>
    </section>
  </main>
  <script type="text/javascript" src="scripts/script.js"></script>
</body>
