<!DOCTYPE html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>
  <div id="navbar">
    <div class="btn" id="btn1">
      <p id="b1">Home</p>
    </div>
    <div class="btn" id="btn2">
      <p id="b2">Recreation</p>
    </div>
    <div class="btn" id="btn3">
      <p id="b3">Photoshoot</p>
    </div>
    <div class="btn" id="btn4">
      <p id="b4"> Outlets</p>
    </div>
    <div class="btn" id="btn5">
      <p id="b5">Food</p>
    </div>
  </div>
  <main class="wrapper">
    <section class="section parallax bg1">
      <div class="header">
        <h1>Welcome to Marco Polo</h1>
      </div>
    </section>
    <section class="section static">
      <h1>Here is the location</h1>
        <iframe class="maps" src="https://embed.waze.com/iframe?zoom=15&lat=33.0478&lon=-117.2979"
  width="1000" height="600"></iframe>
    </section>
    <section class="section parallax bg2">
      <h1>Yelp Thing</hi>
        <iframe src="https://api.yelp.com/v3" width="1000" height="600"></iframe>
    </section>
    <section class="section static">
      <h1> even more more placeholder text</h1>
    </section>
    <section class="section parallax bg3">
      <h1> the most placeholder text.</h1>
    </section>
    <section class="section static" id="footer">
      <p>placeholder copyright info</p>
      <p>other stuff you would put in the footer</p>
    </section>
  </main>
  <script type="text/javascript" src="scripts/script.js"></script>
</body>
