<title>Food</title>
<link rel="stylesheet" href="styles/stylesFood.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>

  <!--this is the nav bar-->

  <div id="navbar">
    <div class="btn" id="btn1">
      <p id="b1">Home</p>
    </div>
    <div class="btn" id="btn2">
      <p id="b2">Recreation</p>
    </div>
    <div class="btn" id="btn3">
      <p id="b3">Photoshoot</p>
    </div>
    <div class="btn" id="btn4">
      <p id="b4">Outlets</p>
    </div>
    <div class="btn" id="btn5">
      <p id="b5">Food</p>
    </div>
  </div>

  <!--this is the rest of the html body content-->

<main class="wrapper">
  <section class="section parallax bg1">
    <div class="In">
      <h1 class="inTitle">Wings N' Things</h1>
      <div class="inDesc">
        In N' Out is cool
      </div>
    </div>
  </section>
  <section class="section static">
    <div class="header">
      <h1>Prep Kitchen</h1>
    </div>
      <iframe class="maps" src="https://embed.waze.com/iframe?zoom=16&lat=33.129286&lon=-117.165473&pin=1"
width="100%" height="100%"></iframe>
      <p> A delicious and nonexpensive option for spicy food lovers, and perfect for game day</p>
  </section>
  <section class="section parallax bg2" >
    <div class="In">
      <h1 class="inTitle">Money Pit</h1>
      <div class="inDesc">
        In N' Out is cool
      </div>
    </div>
  </section>
  <section class="section static">
    <h1> </h1>
    <iframe class="maps" src="https://embed.waze.com/iframe?zoom=16&lat=33.135152&lon=-117.159649&pin=1"
width="100%" height="100%"></iframe>

  </section>
  <section class="section parallax bg3">
    <div class="In">
      <h1 class="inTitle">Prep Kitchen</h1>
      <div class="inDesc">
        In N' Out is cool
      </div>
    </div>
  </section>
  <section class="section static">
    <div class="header">
      <h1>The Money Pit</h1>
    </div>
      <iframe class="maps" src="https://embed.waze.com/iframe?zoom=16&lat=33.1419&lon=-117.1295&pin=1"
width="100%" height="100%"></iframe>
      <p> A delicious and nonexpensive option for spicy food lovers, and perfect for game day</p>
  </section>
  <section class="section parallax bg4">
    <div class="In">
      <h1 class="inTitle">In N Out</h1>
      <div class="inDesc">
        In N' Out is cool
      </div>
    </div>
  </section>
  <section class="section static">
    <div class="header">
      <h1>The Money Pit</h1>
    </div>
      <iframe class="maps" src="https://embed.waze.com/iframe?zoom=16&lat=33.137335&lon=-117.177263&pin=1"
width="100%" height="100%"></iframe>
      <p> A delicious and nonexpensive option for spicy food lovers, and perfect for game day</p>
  </section>
  <section class="section static" id="footer">
    <p>All Copy Rights Held to The Black Hats</p>
    <p>Made with  &#8508;</p>
  </section>
</main>
<script type="text/javascript" src="scripts/script.js"></script>
</body>
