body,html{margin:0;padding:0;}

h1:hover{
color: #D30C55;
}

.maps{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;

}

#navbar
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #181818;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2;
  line-height: 0.2;
  font-size: 19px;
}
.btn
{
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  /*border-style: solid;
  border-width: 5px;*/
  justify-content: center;
  background-color: #000f4b;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}
.btn:hover
{
  background-color: #2f3f86;
}
.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;

  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}

/* The styling for the static div. */
.static {
  background: #404040;
  box-shadow:3px 7px 18px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

/*help insert images*/
.bg1::after {
  background-image: url('https://i.pinimg.com/originals/10/38/ea/1038eae15cb3d554728a10270d5dfb03.jpg');
}

.bg2::after {
  background-image: url('http://www.san-marcos.net/Home/ShowImage?id=3629&t=635905590420230000');
}
.bg3::after
{
  background-image: url('https://i.ytimg.com/vi/CqW51tc2ul0/maxresdefault.jpg');
}

.bg4::after
{
  background-image: url('http://www.trbimg.com/img-57c5a679/turbine/sdut-a-new-park-in-san-marcos-2010feb26');
}
.bg5::after
{
  background-image: url('http://www.trbimg.com/img-57d04b67/turbine/sdut-decoy-dockside-restaurant-opens-lake-san-marcos-2016sep02');
}
body
{
  margin: 0;
  background-color: #404040;
  overflow: hidden;
}
.header
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  margin-bottom: 15%;
  text-align: center;
}
#footer
{
  display: flex;
  flex-direction: column;
  height: 25%;
}
.inDesc
{
  visibility: hidden;
  z-index: 5;
  height: 100vh;
  width: 200vh;
  background: rgba(0, 0, 0, 0.5);: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding: 3%;
  padding-top: 20%;
  margin-top: 5%;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  opacity: 0;
  transition: opacity .6s, visibility .6s
}
.In:hover .inDesc
{
  display: flex;
  visibility: visible;
  opacity: 1;
}
.inTitle
{
  position: absolute;
  margin-top: 45vh;
  margin-left: 92vh;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 32px;
}
.In:hover .inTitle
{
  visibility: hidden;
}
::-webkit-scrollbar
{
  width: 5px;
}
::-webkit-scrollbar-thumb
{
  background: #538cc6;
}
::-webkit-scrollbar-thumb:hover
{
  background: #8cb3d9;
}
